
html,body{
    padding: 0;
    font-family: 'Open Sans', 'Lobster', sans-serif, arial;
    font-size: 16px;
    color: #fff;
    min-width: 1000px;
}

*{
    box-sizing: border-box;
}

.display-flex{
    display: flex;
}


a, ul, p{
    list-style: none;
    margin:0;
    padding: 0;
    text-decoration: none;
    line-height: 1.5em;
}


.container{
    margin: auto;
    max-width: 1024px;
    &_ps-absolute{
        position: relative;
        border-top: 1px solid transparent;
        margin-top: -1px;
    }
}


.block{

    &_green{
        background-color: #31a585;
    }

    &_light{
        background-color: #f4f4f4;
    }

    
    &_white{
        padding-top: 45px;
        padding-bottom: 45px;
    }

}

.menu{

    &_mod{
        background-color: #fff;
        width: 228px;
        padding-top: 25px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.logo{
    flex-direction: column;

    &_menu_mod{
        padding-bottom: 30px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 30px;
    }

    &__img{

    }

    &__title{
        font-family: 'Lobster';
        text-align: center;
        font-size: 36px;
        color: #33a088;
        line-height: 24px;
    }

}



.nav-menu{

    &_mod{
        padding-left: 45px;
    }

    &__item{
       margin-bottom: 20px;
    }

    &__link{
       color: #7e7e7e;
        
        &:hover{
            color: rgba(159, 159, 159, 0.63);
        }
        
    }
}



.bottom-arrow{
    &__wrap{
        padding: 15px 0;
        position: relative;
        background-color: #fff;
        width: 228px;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 50%;
            padding-top: 27%;
            background: #ffffff;
            transform: skew(0, 20.5deg) translate(0, 50%);
        }
        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            content: '';
            width: 50%;
            padding-top: 27%;
            background: #fff;
            transform: skew(0, -20.5deg) translate(0, 50%);
        }
    }
}


.social{

    &_pad250{
     padding-left: 250px;
    }

    &__list{
        margin-top: 125px;
        padding: 0 75px;
        justify-content: center;
        margin-bottom: 75px;
    }

    &__text{
        margin: 0 50px;
        text-align: center;
        margin-bottom: 60px;

    }

    &__link{
        justify-content: center;
    }

}

.icons{
    &__item{
        margin-right: 60px;
    }



}

.social-link{

    &__button{
        text-transform: uppercase;
        font-size: 22px;
        color: #fff;
        border:2px solid #fff;
        padding: 15px 20px;
        border-radius: 5px;
        line-height: 22px;

        &_feature{
            color: #e2e2e2;
            background-color: #1dc896;
            border-radius: 5px;
            text-transform: none;
            font-size: 30px;
        }
    

    }

    &_feature{
        justify-content: center;
    }

}

.brands{
    justify-content: space-between;
    align-items: center;

    &_pad15{
        padding-top: 15px;
    }

    &__item{

        .cls-1{
            opacity: .5;

            &:hover{
                opacity: 1;
            }
        }
    }

}

.feature{
    &__title, &__text{
        color: #8d8d8d;
        text-align: center;
    }
    &__title{
        font-size: 36px;
        margin-bottom: 50px;

        &_margin0{
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 30px;
            color: #fff;
            text-align: left;
            line-height: 30px;
            font-weight: 100;
        }
    }

    &_pad55{


        padding:55px 0;
        justify-content: space-between;

    }


    &__item{
        padding: 0 40px;

    }


    &__text{
        font-size: 16px;
        margin-bottom: 45px;
        &_color-white{
            color: #fff;
            text-align: left;
        }
    }





}


